
.icon-right-open-big:before { content: '\e800'; } /* '' */
.icon-left:before { content: '\e801'; } /* '' */
.icon-newspaper:before { content: '\e802'; } /* '' */
.icon-left-1:before { content: '\e803'; } /* '' */
.icon-placeholder:before { content: '\e804'; } /* '' */
.icon-exchange:before { content: '\e805'; } /* '' */
.icon-cog:before { content: '\e806'; } /* '' */
.icon-empty-circle:before { content: '\e807'; } /* '' */
.icon-tick:before { content: '\e808'; } /* '' */
.icon-placeholder-1:before { content: '\e809'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-down-open-big:before { content: '\e80b'; } /* '' */
.icon-left-open-big:before { content: '\e80c'; } /* '' */
.icon-up-open-big:before { content: '\e80d'; } /* '' */
.icon-location:before { content: '\e80e'; } /* '' */
.icon-calendar:before { content: '\e80f'; } /* '' */
.icon-phone:before { content: '\e810'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */